<%- include('partials/header') -%>


    <h1>Home</h1>
    <p>
        <%= content %>
    </p>
    <br>
        <!-- for each function works like for loop -->
       

        <%for(let post of posts){%>
              
            <div class="container">

                <div class="card">

                  <div class="card-body">

                   <h2 class="card-title">
                    <%= post.title %>
                   </h2>

                   <p class="card-text">
                    <%= post.post.substring(0,100)+' .....' %>
                   </p>
                   <a href="/post/<%= post.title%>">rea more</a>

                  </div>

                </div>

            </div>
            
          <%}%>

        


       


            <%- include('partials/footer') -%>