<%- include('partials/header') -%>


    <h1>Home</h1>
    <p>
        <%= content %>
    </p>
    <br>
        <!-- for each function works like for loop -->
        <% posts.forEach(function(posts){%>
            
            <div class="container">
                
                <div class="card">
                    <div class="card-body">
                      <h2 class="card-title"><%= posts.title %></h2>
                      <p class="card-text"><%= posts.content.substring(0,100) + ' .....'%></p>
                      <a href="/post/<%= posts.title %>">read more</a>
                    </div>
                  </div>
                  
            </div>
            
        
        <%});%>

        


       


            <%- include('partials/footer') -%>